body{
margin-top:180px;
font-family: Verdana,'Times New Roman', Times, serif;
}

.header,.wrapper{
width:1000px;
}

.header{
	background-color: white;
    border-radius:5px;
    padding-left: 10px;
	padding-right: 10px;
    padding-top: 10px;
	padding-bottom: 15px;
    position: fixed;
    top: 0;
	box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
	right: 0;
    left: 0;
	margin-right: auto;
    margin-left: auto;
	width:1100px;
	height:100vh;
    z-index: 9999;
    transition: height 0.5s;
}

.wrapper{
 border-radius: 5px;
 box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
 white-space: normal;
 word-wrap: break-word;
 overflow: hidden;
 text-overflow: ellipsis; 
 padding:1%;
 font: 16px/0.2 "Helvetica","Arial",sans-serif;
 margin: 0 auto;
}

.reportTitle{
text-align:center;
}

.buildNo{
margin:5px;
font-weight: bold;
white-space: normal;
 word-wrap: break-word;
 text-align:center;
}

.buildDate{
margin:5px;
}

.stats{
display: block;
margin: 5px;
margin-left:11px;
z-index:2;
}

.panel{
    /*top:50%; */
    /*left:50%;*/
    text-align: center;
    display: none;
    position: fixed;
    left: 50%;
    margin-left: -448px;
}

.inner{
z-index:2;
position: relative;
}

#scroll{
cursor:pointer;
}

li{
width:650px;
}

h2:hover,h3:hover{
cursor:pointer;
}

h3{
margin-left:20px;
color:brown;
font: 16px/0.2;
padding-left:5px;
width:90%;
}

span{
display:inline-block;
}

span.all,span.passed,span.failed{
text-align: center;
    width: 25px;
}

.storyName{
width:90%;
}

.storyName:hover{
border:2px solid;
border-radius:5px;
}

.story{
padding-left:5px;
}

.scenarioTitle{
width:90%;
}

.block{
width:80%;
}
.status{
width:200px;
background-color:red;
}

.scenarioStatus{
width:100px;
background-color:red;
}

aside{
left: 160px;
    margin: 1px;
    position: fixed;
    top: 180px;
}

.buttons{
width:300px;
}

.scenario{
display:none;
font: 16px/1.6 "Helvetica","Arial",sans-serif;
width:99%;
}

.scenario > h3:hover{
border:2px solid;
border-radius:5px;
}

.story:has(.scenario.failed) > h2{
color:red;
}

.step{
margin-left:5%;
display:none;
}

.passed{
color:green;
}

.failed{
color: red;
}

.scenario.newFailed > h3:after {
background-color: #fc0;
border-radius: 5px;
color: #333;
content: "NEW";
padding: 0px 12px;
width: 45px;
display: block;
overflow: hidden;
float: right;
}

.knowIssue{
	background-color: yellow;
    border-radius: 5px;
    margin-left: 5%;
	margin-bottom:10px;
    text-align: center;
    width: 300px;
	color:black;
	cursor:pointer;
}

.failure{
margin-left: 40px;
font-size: 110%;
    line-height: 2;
}


.notPerformed{
color: grey;
}

.pending{
color: silver;
}

.successful{
color: green;
}

button {
margin: 0 auto;
}

.myButton, #hide-btn {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
  background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
  background-color:#f9f9f9;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:block;
  cursor:pointer;
  color:#666666;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  width:175px;

    display: inline-block;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
  background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
  background-color:#e9e9e9;
}
.myButton:active {
  position:relative;
  top:1px;
}

#hide-btn{
    position: absolute;
    bottom: 5%;
    left: 50%;
    margin-left: -87.5px;
	z-index:5;
}
.story-holder{
    margin-top: 55px;
    overflow: auto;
    max-height: 570px;
}
.show-toggle{
    height: 150px;

}
.panel-block{
    display:block;
}

#chart{
bottom: 20%;
left: 50%;
margin-left: -298.5px;
position: absolute;
}



#pie{
	height:60%;
}

